.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.intro{
  -webkit-box-shadow: inset 0px -14px 44px 10px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px -14px 44px 10px rgba(0,0,0,1);
  box-shadow: inset 0px -14px 44px 10px rgba(0,0,0,1);
}


.download-section {
  /*background: url(http://i.giphy.com/sDolZxlEp3QVG.gif) no-repeat 0 center scroll;*/
  background: url(../images/18H.jpg) no-repeat center -350px scroll;
  background-size: 1500px;
  filter:opacity(0.8);
}


footer{
  border-top: 0.5px solid #fff;
  margin:2em 0 0 0;
}

footer p{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  font-size: 12pt;
}


