<div class="container">
  <section id="reserve" class="content-section ">
    <div class="reserve-section">
      <h2>Reserve a Cat</h2>
      <form>
        <fieldset class="" >
          <!-- LEFT SIDE -->
          <section class="col-md-3" id="date-selector" >
             <h3>Filter by Date</h3>

            <div class="alert alert-danger" ng-hide="filtered.length">
              Please make another date selection. 
            </div>
            <div class="form-group">
              <label for="start-date">Start Date</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input id="start-date" name="start-date" class="form-control" type="date"  ng-model="rsvp.date.start">
              </div>
            </div>  

            <div class="form-group">
              <label for="end-date">End Date</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>

              <input id="end-date" name="end-date" class="form-control" placeholder="" type="date" ng-model="rsvp.date.end">
             </div>
            </div>

            <!-- Sort Controls -->
            <div class="form-group">
              <label for="end-date">Sort By:</label>
              <select ng-model="rsvp.sortorder" class="input-medium">
                <option selected value="name">Name</option>
                <option value="start">Start Date</option>
                <option value="-start">Reverse</option>
              </select>
            </div>
            <hr>
            <h4><span ng-pluralize count="filtered.length"
                when="{'0': 'No kitties found',
                       'one': 'One cute kitty found',
                       'other': '{} kitties found'
                     }"/>  <i class="fa fa-arrow-right" ></i></h4>

          </section>

          <!-- CENTER -->
          <section class="col-md-9" id="cat-selector" > 
            
              <article 
              class="card col-sm-6" 
              ng-repeat="cat in filtered=(rsvp.all | orderBy:rsvp.sortorder | dateConstrained:rsvp.date) | orderBy:start track by cat.id">
              
              <section class="row">
                <!-- IMAGE -->
                <section class="col-sm-4">
                  <img ng-src="{{cat.image}}" class="thumbnail img-responsive">
                </section>
                
                <!-- NAME/DESCRIPTION -->
                <section class="col-md-8">
                  <h3><a ui-sref="cats.detail({id: cat.id})">{{cat.name}}</a></h3>
                  <p>{{cat.description|limitTo:150}}&hellip; <a ui-sref="cats.detail({id: cat.id})">More&hellip;</a></p>
                  <h6>Tags <i class="fa fa-tags"></i></h6>
                  <ul class="list-inline">
                    <li ng-repeat="tag in cat.tags">
                      <a ui-sref="tags({tag:tag.id})">
                        {{tag.name}}
                      </a>
                    </li>
                  </ul>
                </section>
              </section>
              
              <section class="row">
                
                <section class="col-md-12">
                  <h5>Availability</h5>
                  <button ng-repeat="avail in cat.availability|orderBy :'start'" class=" col-md-6 btn btn-default btn-sm" ui-sref='order({catID:3,availID:78})' ><i class="fa fa-calendar"></i> {{avail.start| date:"MM/dd/yyyy" }} &ndash; {{avail.end| date:"MM/dd/yyyy"}}</button>
                </section>
              </section>

            </article>
          </section>


        </fieldset>
      </form>
    </div>
  </section>
</div>