<div class="container">
  <section id="reserve" class="content-section ">
    <div class="reserve-section">
      <h2>Reserve a Cat</h2>
      <form>
        <fieldset class="" >
          <!-- LEFT SIDE -->
          <section class="col-md-3" id="date-selector" ui-view="filters">
            left
          </section>

          <!-- CENTER -->
          <section class="col-md-9" id="cat-selector" ui-view="listing"> 
            
              right
          </section>


        </fieldset>
      </form>
    </div>
  </section>
</div>