<div class="container">
  <section id="reserve" class="content-section ">
    <div class="reserve-section">
      <h2>My Account <small>{{myData.user.nickname}} 
        ({{myData.user.email}})</small></h2>
        
        <div class="row">
        

          <section class="col-lg-6 grey-border">
           
            <h3>My Cats</h3>
            <ul>
              <li ng-repeat="cat in myData.cats  track by cat.id">
                <a ui-sref="cats.detail({id:cat.id})">{{cat.name}}</a>
              </li>
            </ul>
          </section>
          <section class="col-lg-6 grey-border lighter">
            <h3>My Upcoming Reservations</h3>
              <ul>
                <li ng-repeat="res in myData.reservations">
                  <a ui-sref="cats.detail({id:res.cat_id})">{{res.cat.name}} </a>
                  ({{res.start| date:'yyyy-MM-dd'}}—{{res.end| date:'yyyy-MM-dd'}}) 
                  
                </li>
              </ul>

         </section>
        </div></div></section></div>
