.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.intro{
  -webkit-box-shadow: inset 0px -14px 44px 10px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px -14px 44px 10px rgba(0,0,0,1);
  box-shadow: inset 0px -14px 44px 10px rgba(0,0,0,1);
}

body{
  background-color: #212121
}
h1,h2,h3,h4,h5,h6,p,li{
  color: rgba(255, 255, 255, 0.901961);
}
.download-section {
  background: url(../images/18H.jpg) no-repeat center -350px scroll;
  background-size: 1500px;
}
#reserve.content-section{
  /*margin-top: 100px;*/
  /*background-color: #333;*/
}

#reserve form{
  border-top: 1px solid #fff;
  margin-top: 0;
  padding-top: 2em;
  background-color: #424242;
}


#cat-selector{
  background-color: #616161;
}


footer{
  border-top: 0.5px solid #fff;
  margin:2em 0 0 0;
}

footer p{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  font-size: 12pt;
}

.card{
  border:1px dotted white;
  margin:1em 0;
  padding-top: 1em;
}

.card h3{
  margin:0;
}
.card h4,.card h5{
  margin: 1em 0;
}


